# Abaikan folder UnityCapture dari statistik bahasa (dianggap library eksternal)
UnityCapture/** linguist-vendored

# Paksa semua file .py dideteksi sebagai Python
*.py linguist-language=Python

# (Opsional) Atur standar baris agar aman antara Windows & Linux
* text=auto
